<%- include('../headers') -%>

<nav class="navbar navbar-expand-md fixed-top navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Worklog Manager Admin Portal</a>
    <button class="navbar-toggler p-0 border-0" type="button" data-toggle="offcanvas">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="navbar-collapse offcanvas-collapse" id="navbarsExampleDefault">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/admin">Dashboard</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/admin/users">Users</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/admin/worklogs">Worklogs</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/users/logout">Logout</a>
        </li>
       
      </ul>
    </div>
  </nav>

  <main role="main" class="container">
    <div class="d-flex align-items-center p-3 my-3 text-white-50 bg-purple rounded box-shadow">
      <div class="lh-100">
        <h6 class="mb-0 text-white lh-100"></h6>
        <small></small>
      </div>
    </div>
    <br>
    <br>
    

    <div class="my-3 p-3 bg-white rounded box-shadow">
          <div class="media text-muted pt-3">
            <div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
              <div class="d-flex justify-content-between align-items-center w-100">
                  <strong class="d-block text-gray-dark">By <%= task.username %></strong>
              </div>
              <h4 class="d-block"> <%= task.task_description %></h4>
            </div>
           </div>
          </div>

          <% if(typeof errors != 'undefined') { %>
            <% errors.forEach(function(error) { %>
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                    <%= error.msg %>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                      <span aria-hidden="true">×</span>
                    </button>
                  </div>
            <% }) %>
        <% } %>

          <form action="/admin/feedback/<%= taskId %>" method="POST">
            <div class="form-group">
              <label for="created_date">Date</label>
              <input readonly type="text" class="form-control" id="created_date" name="created_date" value="<%= createdDate %>">
            </div>
            <div class="form-group">
              <label for="Comment">Feedback</label>
              <textarea type="text" name="comment" class="form-control" id="comment" placeholder="Comment here..."></textarea>
            </div>
            <input hidden type="number" class="form-check-input" name="task_id" id="task_id" value="taskId">
              
            
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
    </main>
  <%- include('../footers') -%>
