<%- include('headers') -%>
<nav class="navbar navbar-expand-md fixed-top navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Worklog Manager</a>
    <button class="navbar-toggler p-0 border-0" type="button" data-toggle="offcanvas">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="navbar-collapse offcanvas-collapse" id="navbarsExampleDefault">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/worklogs/main">Dashboard</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/worklogs/create">Add update</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/worklogs/allupdates">Worklogs</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/users/profile">Profile</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/users/settings">Settings</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/users/logout">Logout</a>
        </li>
       
      </ul>
      
    </div>
  </nav>

<div style="background: rgb(237, 243, 243); margin-top: 100px;"class="page-content page-container" id="page-content">
    <div class="padding">
        <div class="row container d-flex justify-content-center">
            <div style="margin-left: 220px;" class="col-xl-6 col-md-12">
                <div class="card user-card-full">
                    <div class="row m-l-0 m-r-0">
                        <div class="col-sm-8">
                          <br>
                          <% if (userProfile.is_admin === 1) { %>
                            <div class="col-sm-6">
                              <a href="/admin"><button type="submit" class="btn btn-success btn-md mb-1">Admin Portal</button></a>
                            </div>
                          <% } %>
                            <div class="card-block">
                                <h6 style="text-align: center; margin-top: 10px;" class="m-b-20 p-b-5 b-b-default f-w-600">My Profile</h6>
                                <br>
                                <hr>
                                <div style="margin-left: 60px;" class="row">
                                  
                                    <div class="col-sm-6">
                                        <p class="m-b-10 f-w-600">Username</p>
                                        <h6 class="text-muted f-w-400"><%= userProfile.username %></h6>
                                    </div>
                                    <div class="col-sm-6">
                                        <p class="m-b-10 f-w-600">Email</p>
                                        <h6 class="text-muted f-w-400"><%= userProfile.email %></h6>
                                    </div>
                                    <div class="col-sm-6">
                                        <p class="m-b-10 f-w-600">Date of birth</p>
                                        <h6 class="text-muted f-w-400"><%= userProfile.date_of_birth %></h6>
                                    </div>
                                    <div class="col-sm-6">
                                        <p class="m-b-10 f-w-600">Department</p>
                                        <h6 class="text-muted f-w-400"><%= userProfile.department_name %></h6>
                                    </div>
                                    <div class="col-sm-6">
                                        <p class="m-b-10 f-w-600">Address</p>
                                        <h6 class="text-muted f-w-400"><%= userProfile.address %></h6>
                                    </div>
  
                                    
                                </div>
                          
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<%- include('footers') -%>
